@model IEnumerable<UniqueDrinks.Models.ListaReservas>

@{
    ViewData["Title"] = "Checkout";
}

<h3>Obrigado pela sua reserva!</h3>
<h4>Esperamos por si na nossa loja.</h4>
<a class="btn btn-primary" asp-controller="Bebidas" asp-action="Index">Voltar à lista de bebidas</a>